name: Add verticadb helm chart

on:
  workflow_dispatch:
    inputs:
      operator_version:
        description: 'The release version of the operator we are adding the chart for (e.g. 1.8.0)'
        type: string
        required: true
  workflow_call:
    inputs:
      operator_version:
        description: 'The release version of the operator we are adding the chart for (e.g. 1.8.0)'
        type: string
        required: true

env:
  TARBALL_HOST: https://raw.githubusercontent.com/cchen-vertica/charts/main/charts
  CHART_PREFIX: verticadb-operator

jobs:
  generate-chart:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Verify chart tarball exists
      run: |
        CHART_TARBALL=$CHART_PREFIX-${{ inputs.operator_version }}.tgz
        if [ -f "charts/$CHART_TARBALL" ]; then
          echo "Successfully found chart tarball: $CHART_TARBALL"
        else
          echo "Error: chart tarball $CHART_TARBALL not found."
          exit 1
        fi

    - name: Generate the helm repo index
      run: |
        CHART_TARBALL=$CHART_PREFIX-${{ inputs.operator_version }}.tgz
        helm repo index \
          --merge index.yaml \
          --url $TARBALL_HOST/$CHART_TARBALL \
          .

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Add verticadb-operator-${{ inputs.operator_version }}
        file_pattern: index.yaml

